<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link
            href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/style.css" />
        <title>Draw & Guess it!</title>
    </head>
    <body>
        <header>
            <h1>Draw & Guess it!</h1>
        </header>

        <main>
            <div id="chat-canvas">
                <canvas width="600px" height="400px"></canvas>
                <div id="chat"></div>
            </div>
            <div id="people">
                <div class="players my-emoji"></div>
                <div id="other-players"></div>
            </div>
            <div id="guess-field">
                <input type="text" id="input-field" />
                <button id="guess-button">Guess</button>
            </div>
        </main>
    </body>
</html>
