<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link
            href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/style.css" />
        <title>Play the Game</title>
    </head>
    <body>
        <header>
            <h1>Draw & Guess it</h1>
            <h3>Play the game</h3>
        </header>
        <main>
            <p>Word</p>
            <div id="chat-canvas">
                <canvas width="600px" height="400px"></canvas>
                <div id="chat"></div>
            </div>
            <div id="people">
                <div id="my-emoji" class="players"></div>
                <div id="other-players"></div>
            </div>
            <div id="guess-field">
                <input type="text" id="input-field" />
                <button id="guess-button">Guess</button>
            </div>
        </main>
    </body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/game.js"></script>
</html>
