<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link
            href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/style.css" />
        <title>Winner</title>
    </head>
    <body>
        <header>
            <h1>And the winner is:</h1>
        </header>
        <main id="winner-main">
            <section id="winner-page"></section>
            <a href="/">Play again</a>
        </main>

        <script src="/winner.js"></script>
    </body>
</html>
